

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.65);
    padding: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: lightblue;
    text-align: center;
}

p {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 14px;
}

li {
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    list-style-type: square;
    
}

body {
    background-image: url(src/coches.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.caja {
    margin-top: 20px;
    width: 220px;
    height: 180px;
    background-color: rgb(0, 0, 0, 0.65);
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, border-color 0.3s ease;

}

.caja:hover {
    transform: scale(1.1);
  border-color: lightblue;
}